<div class="container d-flex align-items-center justify-content-center" style="margin-top: -100px; min-height: 100vh;">
  <div class="col-md-4">
    <h2 class="text-center mb-4 fw-normal">Forgot your password?</h2>
    
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs mb-3">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: 'Email',
                    label_html: { class: 'mb-2' },
                    input_html: { 
                      class: 'form-control rounded',
                      autocomplete: "email" 
                    },
                    required: false %>
      </div>

      #password reset link
      <div class="form-actions">
        <%= f.button :submit, "Send Reset Instructions", 
                    class: 'btn btn-primary w-100 rounded' %>
      </div>
    <% end %>

  </div>
</div>